<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<th:block layout:fragment="style1">
	<!-- layout 상속받은 모든 자식에 적용된다. -->
	<style>
		h1 {
	 text-align : center;
	 }
	 .footer{
	 	text-align: center;
	 }
	</style>
</th:block>
</head>  
<body>
	<!-- 하위 HTML에서 CSS 재정의할 예정 -->
	<!-- fragment 삽입하기 -->
	<header th:replace="fragments/header :: header2"></header>
	<!-- 하위 HTML에서 content 재정의할 예정 -->
	<div class="panel panel-default" layout:fragment="content">!!!!!!</div>
	<footer th:replace="fragments/footer :: footer2"></footer>
	
	<!-- 하위 HTML에서 javascript 재정의할 예정   th:block 은 없어지는 태그이다 -->
	<th:block layout:fragment="script1">
	</th:block>

	<script>
		console.log("layout에 있는 javascript");
	</script>
</body>
</html>
  