<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

table, tr, th, td {
	border : 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
table {
	margin: auto;
}
.contents:hover{
	background-color: aqua;
	cursor: pointer;
}
</style>
</head>
<body>
	
	<div class="panel panel-default" layout:fragment="content">
		<table>
			<tr class="bg-success">
				<th>글번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>내용</th>
				<th>등록일</th>
				<th>수정일</th>
				<th>댓글</th>
				<th>삭제</th>
			</tr>
			<tr th:each="board:${blist}" class="contents">
				<td>
				<a th:href="@{detail.do(bno=${board.bno})}">[[${board.bno}]]</a></td>
				<td>[[${board.title}]]</td>
				<td>[[${board.writer}]]</td>
				<td>[[${board.content}]]</td>
				<td>[[${#dates.format(board.regdate,'yyyy-MM-dd')}]]</td>
				<td>[[${#dates.format(board.updatedate,'yyyy-MM-dd')}]]</td>
				<td>
					<span class="badge bg-danger">[[${#lists.size(board.replies)}]]</span>
					<span class="badge bg-primary">[[${#lists.size(board.replies)}]]</span>
				</td>
				<td><button th:onclick="call([[${board.bno}]])">삭제</button></td>
			</tr>
		</table>
	</div>
	<th:block layout:fragment="script1">
		<script th:inline="javascript">
		 	function call(bno){
		 		location.href="delete.do?bno="+bno;
		 	}
		</script>
	</th:block>
</body>
</html>