<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="panel panel-default" layout:fragment="content">
	<table>
		<tr th:each="dept:${dlist}">
			<td th:text="${dept.departmentId}"></td>
			<td th:text="${dept.departmentName}"></td>
			<td th:text="${dept.locationId}"></td>
			<td th:text="${dept.managerId}"></td>
		</tr>
	</table>
	<hr>
	<table>
		<tr th:each="emp:${elist}">
			<td th:text="${emp.employeeId}"></td>
		</tr>
	</table>
	</div>
</body>
</html>